.timer-conteiner {
  display: flex;
  align-items: center;

  .time {
    color: white;
    margin-right: 10px;
  }

  .icon-button {
    cursor: pointer;
    width: 24px;
    height: 24px;

    path {
      fill: white;
    }

    &:hover {
      path {
        fill: rgb(162, 145, 219);
      }
    }

  }

}