.button-conteiner {
  cursor: pointer;
  background-color: rgb(55, 55, 231);
  border: none;
  outline: none;
  border-radius: 16px;
  height: 32px;
  color: white;


  &:hover {
    background-color: rgb(117, 117, 216);
  }

  &:focus {
    background-color: rgb(165, 165, 222);
  }
}